grpcio==1.53.2
grpcio-tools==1.53.0
qdrant-client
pinecone-client
weaviate-client
elasticsearch
pgvector
pgvecto_rs[psycopg3]>=0.2.1
sqlalchemy
redis
chromadb
pytz
streamlit-autorefresh
streamlit>=1.23.0
streamlit_extras
tqdm
s3fs
psutil
polars
plotly
environs
pydantic<v2
scikit-learn
pymilvus
clickhouse_connect
pyvespa
